
<div class="main">

  <div id="box">


    <!-- <div *ngFor="let prescription of prescriptions">
      <div *ngIf="prescription.pillDispenser?.isModel"> -->

        <div class="card">
          <img src="https://zupimages.net/up/20/26/x93n.jpeg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Diabete</b></h4>
            <p>RAMIPRIL KRKA 5 mg</p>
          </div>
        </div>


        <div class="card">
          <img src="https://zupimages.net/up/20/26/1539.jpeg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Hypertension</b></h4>
            <p>METFORMINE 1000 mg  </p>
          </div>
        </div>


        <div class="card">
          <img src="https://zupimages.net/up/20/26/ddij.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Cholesterol</b></h4>
            <p>ATENOLOL ZYDUS 50 mg</p>
          </div>
        </div>


     <!-- </div> -->

    <!-- </div> -->

  </div>


</div>
