$heading-color: #323232;

$bg-default: #947054;

$bg-gray: #f5f7f9;

$color-white: #ffffff;

$color-dark: #000000;

$border-color: #e1dddd;

$text-color: #224358;
$title-color: #0596de;
$titleHover-color: #11689e;

$background: #ECF2F8;
