@import '../../../assets/scss/include/color';
@import '../../../assets/scss/include/responsive';
@import '../../../assets/scss/include/mixin';


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sideNav {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background: $bg-gray;
}

.sideNav ul {
  margin-top: 50px;
}

.sideNav ul a {
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: #9b9b9b;
  padding-left: 40px;
  transition: .5s;
}

.sideNav ul li a:hover{
  padding-left: 50px;
  color: $titleHover-color;
}

.container{
  margin-left: 250px;
}
